<div class="footer">
	<div class="row">
		<div class="col-sm-8">
			<p><small>&copy; momwansa 2017</small></p>
		</div>
	<div class="col-sm-4">
	<!-- <p class="pull-right"><small><a href="/about" title="About this site">About this site</a></small></p> -->
	<div class="footer-social-icons">
	<ul class="social-icons" align="right">
			<li><a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
			<li><a href="https://www.twitter.com/{{ site.twitter_username }}" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
			<li><a href="https://github.com/{{ site.github_username }}" class="social-icon"> <i class="fa fa-github"></i></a></li>
			<!--<li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>-->
	</ul>
</div>
	</div>
	</div>
</div> <!-- /footer -->
